
	<div class="row">
        <div class="col s6">
          <div class="card">
            <div class="card-image">
              <img src="assets/bee.png" class="img">
            </div>
            <div class="card-content">
              <a href="{{website}}">{{name}}</a>
            </div>
            <div class="card-action">
              <p>{{title}}</p>
              <p>{{description}}</p>           
            </div>
            <div class="card-action">
              <ul>{{cause}}</ul>
              <ul>{{language}}</ul>
              <ul>{{location}}</ul>           
            </div>
          </div>
        </div>
	</div>